/* CSS BY Alyssa */

/* IMPORTED FONTS */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Kavoon&display=swap');

/* CSS RESET */
/* http://meyerweb.com/eric/tools/css/reset/ 
    v2.0 | 20110126
    License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* ROOT VARIABLES */
:root {
    --teal:#4CA7C0;
    --purple:#484FB7;
    --lavender:#6B8FE7;
    --yellow:#E9BB57;
    --pink:#D9526F;
    --dark-gray:#1E1E1E;
    --white:#ffffff; 
}

/* GLOBAL STYLES (mobile first/small) */
body {
    background-color: var(--lavender);
    display: block;
    margin: 0 auto;
    max-width: 450px;
    font-family: 'Inter';
    width: 100%;
}

h1, h2 {
    font-family: 'Kavoon';
    color: var(--white);
}

section {
    background-color: var(--purple);

}
 
h1 {
    font-size: 3em;
    text-align: center;
    padding: 30px 0px 10px 0px;
}

header p {
    color: var(--white);
    text-align: center;
    padding: 0px 0px 40px 0px;
}

nav {
    background-color: var(--yellow);
}

nav li {
    padding: 5px;
    text-align: center;
}

nav ul {
    padding: 0px 20px 20px 20px;
}

li a {
    text-decoration: none;
    background-color: var(--white);
    color: var(--purple);
    font-weight: bold;
    padding: 13px;
    display: block;
}

h2 {
    font-size: 2em;
}

header h2 {
    font-size: 1.5em;
    font-family: 'Inter';
    color: var(--dark-gray);
    background-color: var(--yellow);
    font-weight: bold;
    text-align: center;
    padding: 10px 0px;
    font-style: italic;
}

#Services h2 {
    margin: 0 15px;
    padding-top: 15px;
}

#Services section > section {
    background-color: var(--white);
    display: block;
    margin: 15px 25px;
    padding: 30px 25px;
    border-radius: 15px;
}

img {
    margin: 3px;
}

#Services section > section p {
    padding: 5px 0px;
    line-height: 1.5em;
}

#Services {
    padding-bottom: 10px;
}

h3 {
    font-size: 1.5em;
    color: var(--yellow);
    font-family: 'Inter';
    font-weight: bold;
    margin: 0 15px;
    padding-top: 5px;
}

h4 {
    font-size: 1.15em;
    color: var(--purple);
    font-weight: bold;
}

#Choose h2 {
    margin: 0 15px;
    padding-top: 15px;
}

#Choose ul {
    display: grid;
    grid-template-columns: auto auto;
    gap: 15px;
    padding: 15px;
}

#Choose li {
    font-weight: bold;
    text-align: center;
    border-radius: 15px;
    padding: 30px 30px;
    margin: 0 auto;
}

#Choose li:nth-child(1) {
    background-color: var(--teal);
}

#Choose li:nth-child(2) {
    background-color: var(--lavender);
}

#Choose li:nth-child(3) {
    background-color: var(--yellow);
}

#Choose li:nth-child(4) {
    background-color: var(--white);
}

#Choose {
    background-color: var(--pink);
}

#Prices h2 {
    margin: 0 15px;
    padding-top: 15px;
}

#Prices {
    padding-bottom: 10px;
}

#First {
    background-color: var(--pink);
}

table {
    margin: 10px 75px;
    background-color: var(--yellow);
    font-family: 'Inter';
    padding: 3px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

tr {
    display: flex;
    gap: 3px;
    background-color: var(--yellow);
    margin-bottom: 3px;
}

th {
    font-weight: bold;
    padding: 15px;
    flex: 1;
}

td {
    background-color: var(--white);
    padding: 10px;
    flex: 2; /*fix me */
    text-align: center;
}

#First h2 {
    margin: 0 15px;
    padding-top: 15px;
}

#First p {
    color: var(--white);
    margin: 0px 10px;
    padding: 10px;
    line-height: 20px;
}

#First a {
    display: block;
    text-align: center;
    margin: 5px 30px;
    text-decoration: none;
    color: var(--dark-gray);
    background-color: var(--white);
    border-radius: 15px;
    padding: 25px;
    box-shadow: 5px 5px 5px var(--dark-gray);
    font-weight: bold;
}

#First {
    padding-bottom: 10px;
}

footer {
    background-color: var(--purple);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 45px;
    margin-bottom: 25px;
}
footer p {
    color: var(--white);
    margin: 10px;
}

footer a {
    color: var(--white);
    margin: 10px;
}